<div class="col-sm-12 col-md-4 text-center colonne-centree">
    <div class="container">
        <form class="border border-light p-5" style="margin-top: 17%;" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <p class="h4 mb-4 text-center">Connexion</p>
        
            <input type="text" [ngClass]="{'error-border' : submitted && f.login.errors && f.login.errors.required}" id="login" class="form-control mb-4" formControlName="login" placeholder="Login">
            <span *ngIf="submitted && f.login.errors && f.login.errors.required" class="error-messages">Votre login est obligatoire</span>
        
            <input [ngClass]="{'error-border' : submitted && f.password.errors && f.password.errors.required}" type="password" id="password" class="form-control mb-4" formControlName="password" placeholder="Password">
            <span *ngIf="submitted && f.password.errors && f.password.errors.required" class="error-messages">Votre mot de passe est obligatoire</span>
            
            <div class="d-flex justify-content-between">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Se souvenir de moi</label>
                    </div>
                </div>
                <div>
                    <a href="">Mot de passe oublié?</a>
                </div>
            </div>
        
            <button class="btn btn-info btn-block my-4" type="submit">Connexion</button>
        
            <div class="text-center">
                <p>Pas de compte?
                    <a href="">Créer votre compte</a>
                </p>
        
                <p>or sign in with:</p>
                <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </form>
    </div>
    
</div>