/* You can add global styles to this file, and also import other style files */
html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}
.view,body,html{height:100%}.carousel{height:50%}.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{height:100%}@media (max-width:776px){.carousel{height:100%}}.page-footer{background-color:#929FBA}

.rgba-black-strong, .rgba-black-strong:after {
    background-color: rgba(142, 110, 110, 0.7)!important;
}


  @media (min-width: 800px) {
    .colonne-centree{
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
    }
  }

  @media (max-width: 800px) {
    .colonne-centree{
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16%;
    }
  }
.white{
  background-color: #929fba!important;
}

.info-color {
  background-color: #73808a !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #e9ecef;
}
.custom-file{
  margin-top: 30px !important;
}

.error-border {border-left: 5px solid red} 
.success-border {border-left: 5px solid green}

.mb-4, .my-4 {
  margin-bottom: 0.3rem !important;
  margin-top: 0.5rem;
}

.error-messages{
  font-size: 9px;
  color: red;
}
.header-button{
  background-color: aliceblue;
  border-radius: 0.3em;
}
